.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  background-color: #0d0d0d; /* Match app background */
  color: white;
}


.topbar-logo {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.logo-img {
  height: 40px; /* adjust size as needed */
  object-fit: contain;
}


.notif-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
}
