body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #0e1111;
  color: #e5e5e5;
}

button {
  background: none;
  border: none;
  color: #e5e5e5;
  font-size: 1rem;
  cursor: pointer;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0d0d0d; /* Match your login background */
  overflow-x: hidden;
}

#root {
  height: 100%;
}
